<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644739712023-2r8kpjd6ml79qkq9dglfkcdm81447lhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644739712023-2r8kpjd6ml79qkq9dglfkcdm81447lhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVvBwAnHn4X20sexURSv87CF0cImi-L4</string>
	<key>GCM_SENDER_ID</key>
	<string>644739712023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.moaDiaryApp</string>
	<key>PROJECT_ID</key>
	<string>moa-diary-app</string>
	<key>STORAGE_BUCKET</key>
	<string>moa-diary-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644739712023:ios:04099a68726ef644528852</string>
</dict>
</plist>